* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri, sans-serif;
}

body {
    background-color: #f4f6f8;
}

/* Navbar */
nav {
    background: #2b59ff;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
}

.hero img {
    width: 300px;
}

.hero-text {
    max-width: 500px;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: #2b59ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* Subjects */
.subjects {
    padding: 40px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
.subject-btn {
    width: 100%;
    background: #2b59ff;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    text-align: left;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
}

.subject-btn:hover {
    background: #1f45cc;
}

.subject-content {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 6px;
    margin-top: 5px;
}

/* Make cards clickable */
.card {
    text-decoration: none;
    color: black;
}
